<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Ventas?useTimezone=true&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.pool_size">50</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>


        <mapping class="Modelo.DTO.Cliente_Bean"/>
        <mapping resource="Modelo/DTO/Cliente_Bean.hbm.xml"/>
        <mapping class="Modelo.DTO.Detalles_Bean"/>
        <mapping resource="Modelo/DTO/Detalles_Bean.hbm.xml"/>
        <mapping class="Modelo.DTO.Madera_Bean"/>
        <mapping resource="Modelo/DTO/Madera_Bean.hbm.xml"/>
        <mapping class="Modelo.DTO.Orden_Bean"/>
        <mapping resource="Modelo/DTO/Orden_Bean.hbm.xml"/>
        <mapping class="Modelo.DTO.Permissions_Bean"/>
        <mapping resource="Modelo/DTO/Permissions_Bean.hbm.xml"/>

    </session-factory>
</hibernate-configuration>